@import "rsuite/dist/rsuite.min.css";

.home-frame {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.homescreen-mid {
  display: flex;
  height: auto;
  
}

.content {
  height: 100%;
  min-height: 100%;
}

.mvrs {
  display: flex;
  flex-direction: row;
}

.rs-panel-body {
  display: flex;
  width: 100%
}


.wbld {
  display: flex;
  flex-direction: column;
}

.wbld-inp {
  display: flex;
}

.wbld-container {
  display: flex;
}

.rs-panel {
  cursor: pointer;
}

/* seems that to target a class, just the spceific differentiator is not enough when there are many classes applied */
.rs-sidenav-subtle .rs-sidenav-item.rs-sidenav-item-active {
  background-color: lightgrey;
}

.selected-workout {
  background-color: lightgreen;
}
.selected-inp-plaque {
  background-color: lightseagreen;
}
